body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
  color: #888;
}

div {
  text-align: center;
  animation: App-logo-spin infinite 85s linear;
}

h1 {
    animation: App-logo-spin infinite 115s linear;
}

p {
    animation: App-logo-spin infinite 55s linear;
}

li {
    list-style: none;
    animation: App-logo-spin infinite 15s linear;
}

hr {
    border: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}